version: "3.9"

services:
  php:
    build: .
    container_name: php83
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html
    networks:
      - backend
    tty: true
    stdin_open: true

  clickhouse:
    image: clickhouse/clickhouse-server:24.8
    container_name: clickhouse
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - ./clickhouse/logs:/var/log/clickhouse-server
      - ./clickhouse/config:/etc/clickhouse-server
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    networks:
      - backend
    healthcheck:
      test: [ "CMD-SHELL", "clickhouse-client --query='SELECT 1'" ]
      interval: 10s
      retries: 5
      timeout: 5s
      start_period: 10s

volumes:
  clickhouse_data:

networks:
  backend:
